# Manifest used for source and binary distributions.

# Notes:
# The CHANGELOG, COPYRIGHT, LICENSE and README are included automatically.
# Excluding *.py[co] also excludes empty parent, __pycache__, directory.

exclude setup.cfg
exclude pyproject.toml

recursive-include src/app_project/ *

recursive-exclude src/app_project/tests *

recursive-exclude * *.py[co]
