{% extends "app_project/base.html" %}
{% load i18n static %}

  {% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  {% endblock %}

{% block main %}
  <main>
    <div class="flex justify-center mt-24">
      <div>
        <img src="{% static 'images/django.png' %}" width="480" height="167" alt="Django logo" />
        <div class="mt-4 text-xl text-center">
          Brought to you by django-app-template
        </div>
      </div>
    </div>
  </main>
{% endblock %}